@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
}
header{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.233);
}
nav{
    background-color: rgb(112, 112, 112);
    padding: 3px;
    box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.575);
}
nav > a{
    text-decoration: none;
    color: white;
    margin-right: 3px;
}
nav > a:hover{
    text-decoration: underline;
}
main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.233);

}
section#noticias{
    background-color: rgb(192, 192, 192);
    padding: 5px;
    margin-top: 13px;
    box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.575);
}
section#assuntos{
    background-color: rgb(159, 252, 221);
    padding: 5px;
    margin-bottom: 13px;
    box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.575);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0px;
}
article{
    background-color: lightgray;
    padding: 1px;
}
article > aside{
    background-color: rgb(161, 161, 161);
}
footer > p{
    margin: 0px;
}